@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Faça seu cadastro!!</h3>
    <ul>
        <li>@Html.ActionLink("Cadastre-se como cliente!", "Create", "Clientes")</li>
        <li>@Html.ActionLink("Cadastre um produto!", "Create", "Produtos")</li>
    </ul>
</div>