@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
   <img src="assets2/Group3.png" />
        
</div>

<h1>EXPERIÊNCIA COM VEÍCULOS ASPIRADOS, TURBO OU 4X4</h1>

<div>
    <img src="assets2/troller.png" />

</div>

 