<footer class="bg-footer mt-auto">
    <div class="container p-4">
        <div class="row">
            <div class="d-inline-flex align-items-center justify-content-around">
                <span class="text-uppercase">&copy; desde 1993 atuando no mundo automotivo</span>
            </div>
        </div>
    </div>
</footer>