<footer class="text-center text-white">
    <div class="text-center p-3">
        <a class="text-white text-uppercase text-decoration-none">&copy; desde 1993 atuando no mundo automotivo</a>
    </div>
</footer>