<div class="navbar navbar-inverse navbar-fixed-top bg-body">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Oficina do Marcio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
